*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
/app/release/output.json
.externalNativeBuild
*.apk
/app/google-services.json
/app/src/debug/res/values/google_maps_api.xml
/app/src/release/res/values/google_maps_api.xml
